* {
  box-sizing: border-box;
}



#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}


:root{
  --primary: #1e75d8;
  --secondary: #404a58;
  --dark: #1f252e;
  --light: #F8F9FA;
  --submit: #00C851;
  --danger: #ff4444;
}

.menu-header {
  text-align: left;
  margin-top: -3px;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
}

.info-container {
  background-color: #C2C3C5;
  border: 1px;
  width: 620px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 20px 10px #5F6368;
}

.App1{
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: #2d343d;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 20px 10px #5F6368;
}

.calculator-bottom {
  display: grid;
  grid-template-columns: 16% 84% ;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: -25px;
}

.calculator-functions {
  display: grid;
  grid-template-columns: 14% 14% 15% 13% 19% 17%;
}

.calculator1-buttons{
  margin-top:20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.sci_calculator {
  width: 100%;
  max-width: 800px;
  height: 500px;
  background-color: #2d343d;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 20px 10px #5F6368;
}

.calculator2-buttons{
  margin-top:20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: #FFF;
    font-size: 35px;
    font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #FFF;
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 17px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.primary {
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding:0.5px;
}

.primary button {
  flex: 100%;
  max-width: 100%;
  max-height: 95%;
  border:none;
  border-radius:12px;
  background-color: var(--primary);
  font-weight: 700;
}

.operators{
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding:0.5px;
}

.operators button{
  flex: 100%;
  max-width: 100%;
  max-height: 95%;
  border:none;
  border-radius:12px;
  background-color: var(--primary);
  font-weight: 700;
}

.clear {
  margin-left: 15%;
  margin-right: 15%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding:0.5px;
}

.clear button {
  text-align: center;
  flex: 100%;
  max-width: 100%;
  max-height: 95%;
  border:none;
  border-radius:12px;
  background-color: var(--danger);
  font-weight: 500;
}

.equal {
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding:0.5px;
}

.equal button {
  text-align: center;
  flex: 100%;
  max-width: 100%;
  max-height: 95%;
  border:none;
  border-radius:12px;
  background-color: var(--submit);
  font-weight: 500;
}

.functions {
  margin-left: 10%;
  margin-right: 5%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding:2px;
}

.functions button {
  flex: 100%;
  max-width: 100%;
  max-height: 95%;
  border:none;
  border-radius:12px;
  background-color: var(--secondary);
  font-weight: 700;
}

.digits{
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding:0.5px;
}

.digits button{
  flex: 100%;
  max-width: 100%;
  max-height: 95%;
  border:none;
  border-radius:12px;
  background-color: var(--dark);
}

.undo-button {
  max-width: 200px;
  max-height: 55px;
  border-radius: 20%;
  background-color: var(--danger);
}

.undo-area {
  display: grid;
  grid-template-columns:  185px 300px 130px;
  max-width: 50%;
}

.entire-page {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
