.bm-burger-button {
    position: fixed;
    width: 50px;
    height: 40px;
    left: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: #1e34b3;
  }
  
  .bm-burger-bars-hover {
    background: #fd0000;
  }
  
  .bm-cross-button {
    height:24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  .bm-menu {
    background: #5d6383;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .dropdown-options {
    display: none;
    width: 100%;
  }
  .dropdown-menu:hover .dropdown-options {
    display: block;
  }
  .dropdown-options a {
    display: block;
    color: rgb(32, 11, 223);
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-options a:hover {
    color: #FFFFFF;
  }

  .dbutton{
    background: none;
    border: none;
    padding: 0;
    /*text-decoration: underline;*/
    color: rgb(31, 8, 243);
  }
