/*menu icon left and top are for change the position of icon on page*/
.bm-burger-button {
    position: fixed;
    width: 80px;
    height: 70px;
    left: 25px;
    top: 45px;
  }
  
  .bm-burger-bars {
    background: #00A568;
  }
  
  .bm-burger-bars-hover {
    background: #85D1B2;
  }
  
  .bm-cross-button {
    height:24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /*menu itself*/
  .bm-menu {
    background: #5F6368;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 35px;
    margin-left: -35px;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /*Menu options above Conversions*/
  .bm-item {
    display: inline-block;
    color: #00A568;
    text-decoration: none;
  }
  .bm-item:hover {
    color: #85D1B2;
  }
  
  /*Options under "Conversion" dropdown menu*/
  .dropdown-options {
    display: none;
    width: 100%;
  }

  .dropdown-options a {
    display: block;
    color: #00A568;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-options a:hover {
    color: #85D1B2;
  }

  /*The "Conversions" menu option*/
  .dbutton{
    background: none;
    border: none;
    padding: 0;
    /*text-decoration: underline;*/
    color: rgb(248, 248, 248);
    position: relative;
  }

  /*The arrow next to "Conversion" menu option*/
  .dbutton:before {
    content: "";
    position: absolute;
    left: 112px;
    top: 8px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
}

.dbutton:hover {
  color: #C2C3C5;
}

/*this is used to help toggle dropdown menu*/
.show{display:block;}
